@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your base styles (optional) */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 16px;
}